* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: hsl(212, 45%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: hsl(0, 0%, 100%);
    width: 20%;
    padding: 0.8em;
    margin-top: 5%;
    border-radius: 10px;
}

.img-div {
    width: 100%;
}
.img-div  img {
    width: 100%;
    border-radius: 10px;
}

h2 {
    font-size: 1.1rem;
    text-align: center;
    margin-top: 1em;
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 0.8rem;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    color: hsl(216, 15%, 48%);
}